<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
    {% extends 'layouts/navbar.html' %}
    {% block content %}

</head>
<body>
    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-5">
                <form action="create-task" method="post" class="card card-body">
                    <h1 class="text-center">Create Task</h1>
                    {{ error }}
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Create" class="btn btn-primary">
                </form>
            </div>
        </div>
    </main>
    {% endblock %}
</body>
</html>