<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    {% extends 'layouts/navbar.html' %}
    {% block content %}
    <h1>Tasks</h1>
</head>
<body>
    <ul>
        {% for task in tasks %}
         <li>
            <p>{{ task.tittle }}</p>
            <p>{{ task.description }}</p>
            <p>{{ task.user }}</p>
         </li>
        {% endfor %}
    </ul>
    {% endblock %}  
</body>
</html>