<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Detail</title>
    {% extends 'layouts/navbar.html' %}
    {% block content %}

</head>
<body>
    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-5">
                <form method="post">
                 <h1 class="text-center">Task Detail</h1>
                 {{ error }}
                 {% csrf_token %}
                 {{ form }}
                 <div class="d-grid gap-2 mt-3">
                    <input type="submit" value="Update" class="btn btn-primary">
                 </div>
                </form>
                <form method="post" action="{% url 'task-delete' task.id %}">
                {% csrf_token %}
                <div class="d-grid gap-2 mt-3 mb-3">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}  
</body>
</html>